@font-face {
    font-family: "LemonMilk";
    src: asset("../fonts/LEMONMILK-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-RegularItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Poppins-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Poppins-ThinItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Poppins-ExtraLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Poppins-Light.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Poppins-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Poppins-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Poppins-MediumItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Poppins-SemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Poppins-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Poppins-ExtraBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Poppins-Black.otf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Poppins-BlackItalic.otf") format("opentype");
}
